@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

.edele, .ontwikkelingskaart, .stapel {
	-fx-border-color: #a9a9a9;
	-fx-border-radius: 10.0px;
	-fx-background-radius: 10.0px;
}

.stapel{
	-fx-font-size: 25.0;
	-fx-text-fill: white;
	-fx-text-alignment: center;
}
.stapel#niveau1 {
	-fx-background-color: linear-gradient(#274C77, #74A0D2)
}

.stapel#niveau2 {
	-fx-background-color: linear-gradient(#F8BD7F, #FCE1C5)
}

.stapel#niveau3 {
	-fx-background-color: linear-gradient(#3C5F30, #7CB46A)
}

.edele{
	-fx-background-color: linear-gradient(#C05746, #DB9E95);
}


.prestigePunten{
	-fx-font-family: 'Londrina Outline', cursive;
	-fx-font-size:35.0;
}
.eindeSpelSchermLabels{
		-fx-font-family:'Eagle Lake', cursive;
		-fx-text-fill: yellow;
}
.eindeSpelSchermLabels#EindeSpelScherm_titel{
	-fx-font-size:35.0;
	}
/*.eindeSpelSchermLabels#winnaars{ */
.eindeSpelSchermLabels#EindeSpelScherm_winnaars{
	-fx-font-size:20.0;
}

.hoofdscherm {
	-fx-background-color: #4F79A3;
}

.scoreKaart{
	-fx-font-family: 'Londrina Solid', cursive;
	-fx-border-color: #a9a9a9;
	-fx-border-width: 2.0px;
	-fx-background-radius: 10.0px;
	-fx-border-radius: 10.0px;
	-fx-font-size: 16.0px;
	
}

.scoreKaart#aanBeurt{
		-fx-background-color: linear-gradient(#FFFFFF, #f4e320);
		
}

.scoreKaart#nietAanBeurt{
		-fx-background-color: linear-gradient(#FFFFFF, #C0C0C0);
	
}