@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');


/*  Brecht: overbodig momenteel. Aangepast dat de kleuren uit de enum Edelsteen komen
#smaragd {
  -fx-background-color: #3C5F30;
}

#diamant {
	-fx-background-color: white;
}

#saffier {
	-fx-background-color: #274c77;
}

#onyx {
	-fx-background-color: black;
}

#robijn {
	-fx-background-color: #c05746;
}
 
*/

.edele, .ontwikkelingskaart, .stapel {
	-fx-border-color: #a9a9a9;
	-fx-border-radius: 10.0px;
	-fx-background-radius: 10.0px;
}

.stapel{
	-fx-font-size: 25.0;
	-fx-text-fill: white;
	-fx-text-alignment: center;
}

.edele{
	-fx-background-color: linear-gradient(#C05746, #DB9E95);
}


.prestigePunten{
	-fx-font-family: 'Londrina Outline', cursive;
	-fx-font-size:35.0;
}

.hoofdscherm {
	-fx-backgroundcolor: #F8BD7F;
}

.stapelniveau1 {
	-fx-background-color: linear-gradient(#274C77, #74A0D2)
}

.stapelniveau2 {
	-fx-background-color: linear-gradient(#F8BD7F, #FCE1C5)
}

.stapelniveau3 {
	-fx-background-color: linear-gradient(#3C5F30, #7CB46A)
}
